.skill-apache {
  &:hover {
    color: $skill-apache-hover;
  }
}

.skill-bower {
  &:hover {
    color: $skill-bower-hover;
  }
}

.skill-css3 {
  &:hover {
    color: $skill-css3-hover;
  }
}

.skill-git {
  &:hover {
    color: $skill-git-hover;
  }
}

.skill-github {
  &:hover {
    color: $skill-github-hover;
  }
}

.skill-grunt {
  &:hover {
    color: $skill-grunt-hover;
  }
}

.skill-gulp {
  &:hover {
    color: $skill-gulp-hover;
  }
}

.skill-html5 {
  &:hover {
    color: $skill-html5-hover;
  }
}

.skill-java {
  &:hover {
    color: $skill-java-hover;
  }
}

.skill-javascript {
  &:hover {
    color: $skill-javascript-hover;
  }
}

.skill-jquery {
  &:hover {
    color: $skill-jquery-hover;
  }
}

.skill-less {
  &:hover {
    color: $skill-less-hover;
  }
}

.skill-mocha {
  &:hover {
    color: $skill-mocha-hover;
  }
}

.skill-mongodb {
  &:hover {
    color: $skill-mongodb-hover;
  }
}

.skill-mysql {
  &:hover {
    color: $skill-mysql-hover;
  }
}

.skill-nginx {
  &:hover {
    color: $skill-nginx-hover;
  }
}

.skill-nodejs {
  &:hover {
    color: $skill-nodejs-hover;
  }
}

.skill-php {
  &:hover {
    color: $skill-php-hover;
  }
}

.skill-python {
  &:hover {
    color: $skill-python-hover;
  }
}

.skill-sass {
  &:hover {
    color: $skill-sass-hover;
  }
}

.skill-typescript {
  &:hover {
    color: $skill-typescript-hover;
  }
}

.skill-angular {
  &:hover {
    color: $skill-angular-hover;
  }
}

.skill-bootstrap {
  &:hover {
    color: $skill-bootstrap-hover;
  }
}

.skill-express {
  &:hover {
    color: $skill-express-hover;
  }
}

.skill-laravel {
  &:hover {
    color: $skill-laravel-hover;
  }
}

.skill-symfony {
  &:hover {
    color: $skill-symfony-hover;
  }
}

.skill-vue {
  &:hover {
    color: $skill-vue-hover;
  }
}

.skill-acrobat {
  &:hover {
    color: $skill-acrobat-hover;
  }
}

.skill-bridge {
  &:hover {
    color: $skill-bridge-hover;
  }
}

.skill-illustrator {
  &:hover {
    color: $skill-illustrator-hover;
  }
}

.skill-indesign {
  &:hover {
    color: $skill-indesign-hover;
  }
}

.skill-photoshop {
  &:hover {
    color: $skill-photoshop-hover;
  }
}
