$icomoon-font-path: "~@/assets/fonts" !default;

$skill-apache: "\e900";
$skill-bower: "\e901";
$skill-css3: "\e902";
$skill-git: "\e903";
$skill-github: "\e904";
$skill-grunt: "\e905";
$skill-gulp: "\e906";
$skill-html5: "\e907";
$skill-java: "\e908";
$skill-javascript: "\e909";
$skill-jquery: "\e90a";
$skill-less: "\e90b";
$skill-mocha: "\e90c";
$skill-mongodb: "\e90d";
$skill-mysql: "\e90e";
$skill-nginx: "\e90f";
$skill-nodejs: "\e910";
$skill-php: "\e911";
$skill-python: "\e912";
$skill-sass: "\e913";
$skill-typescript: "\e914";
$skill-angular: "\e915";
$skill-bootstrap: "\e916";
$skill-express: "\e917";
$skill-laravel: "\e918";
$skill-symfony: "\e919";
$skill-vue: "\e91a";
$skill-acrobat: "\e91b";
$skill-bridge: "\e91c";
$skill-illustrator: "\e91d";
$skill-indesign: "\e91e";
$skill-photoshop: "\e91f";
