$icomoon-font-path: "~@/assets/fonts" !default;

$skill-gitaar-spelen: "\e920";
$skill-home-assistant: "\e921";
$skill-apache: "\e900";
$skill-bower: "\e901";
$skill-css3: "\e902";
$skill-git: "\e903";
$skill-github: "\e904";
$skill-grunt: "\e905";
$skill-gulp: "\e906";
$skill-html5: "\e907";
$skill-java: "\e908";
$skill-javascript: "\e909";
$skill-jquery: "\e90a";
$skill-less: "\e90b";
$skill-mocha: "\e90c";
$skill-mongodb: "\e90d";
$skill-mysql: "\e90e";
$skill-nginx: "\e90f";
$skill-nodejs: "\e910";
$skill-php: "\e911";
$skill-python: "\e912";
$skill-sass: "\e913";
$skill-typescript: "\e914";
$skill-angular: "\e915";
$skill-bootstrap: "\e916";
$skill-express: "\e917";
$skill-laravel: "\e918";
$skill-symfony: "\e919";
$skill-vue: "\e91a";
$skill-acrobat: "\e91b";
$skill-bridge: "\e91c";
$skill-illustrator: "\e91d";
$skill-indesign: "\e91e";
$skill-photoshop: "\e91f";

$skill-apache-hover: #c01830;
$skill-bower-hover: #f06030;
$skill-css3-hover: #284ee3;
$skill-git-hover: #DE4C36;
$skill-github-hover: #161614;
$skill-grunt-hover: #fba919;
$skill-gulp-hover: #d34a47;
$skill-html5-hover: #e44d26;
$skill-java-hover: #5382a1;
$skill-javascript-hover: #f7df1e;
$skill-jquery-hover: #21609b;
$skill-less-hover: #1c416d;
$skill-mocha-hover: #8d6648;
$skill-mongodb-hover: #4bad3f;
$skill-mysql-hover: #0e5e86;
$skill-nginx-hover: #029a03;
$skill-nodejs-hover: #8cc84b;
$skill-php-hover: #777cb1;
$skill-python-hover: #407bab;
$skill-sass-hover: #cc6b9b;
$skill-typescript-hover: #1377c5;
$skill-angular-hover: #e23137;
$skill-bootstrap-hover: #563e7c;
$skill-express-hover: #000;
$skill-laravel-hover: #f25045;
$skill-symfony-hover: #030303;
$skill-vue-hover: #43b783;
$skill-acrobat-hover: #f3330b;
$skill-bridge-hover: #735113;
$skill-illustrator-hover: #fbbc2e;
$skill-indesign-hover: #e643a0;
$skill-photoshop-hover: #173183;
