@import "../../node_modules/flat-ui-colors-sass/flat-colors";

// Background colors
.bg-wet-asphalt {
  background-color: $flat-wet-asphalt;
}

.bg-midnight-blue {
  background-color: $flat-midnight-blue;
}

.bg-clouds {
  background-color: $flat-clouds;
}

.bg-silver {
  background-color: $flat-silver;
}

.bg-concrete {
  background-color: $flat-concrete;
}

.bg-asbestos {
  background-color: $flat-asbestos;
}

.bg-none {
  background-color: rgba(255, 255, 255, 0.1);
}

// Colors
.wet-asphalt {
  color: $flat-wet-asphalt;
}

.midnight-blue {
  color: $flat-midnight-blue;
}

.clouds {
  color: $flat-clouds;
}

.silver {
  color: $flat-silver;
}

.concrete {
  color: $flat-concrete;
}

.asbestos {
  color: $flat-asbestos;
}
