/**
  * Helpers
  */
.hover-text-decoration-none {
  &:hover {
    text-decoration: none;
  }
}

.transition-background-color-400 {
  transition: background-color 400ms;
}

.transition-background-color-800 {
  transition: background-color 800ms;
}
